:root{
    --duration: 0.5s;
}

.card-wrap {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.card-wrap:hover .card-wrap:active .front, .card-wrap.hover .front, .card-wrap.flip .front{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-wrap:hover .card-wrap:active .back, .card-wrap.hover .back, .card-wrap.flip .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
} 

.card-wrap, .front{
    width: calc(var(--card-width));
    height: calc(var(--card-height));
}

.back{
    width: calc(var(--card-width));
    height: calc(var(--card-height));
}

.card {
    -webkit-transition: var(--duration) ease-in-out;
    -webkit-transform-style: preserve-3d;
    -ms-transition: var(--duration);

    -moz-transition: var(--duration) ease-in-out;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: var(--duration);
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: var(--duration) ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: var(--duration) ease-in-out;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: var(--duration) ease-in-out;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: var(--duration) ease-in-out;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: var(--duration) ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}