:root{
    --duration: 0.5s;
    --flip-direction: -1;
}

.card-wrap {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.card-wrap:hover .card-wrap:active .front, .card-wrap.hover .front, .card-wrap.flip .front{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-wrap:hover .card-wrap:active .back, .card-wrap.hover .back, .card-wrap.flip .back {
    -webkit-transform: rotateY(calc(180deg * var(--flip-direction)));
    -moz-transform: rotateY(calc(180deg * var(--flip-direction)));
    -o-transform: rotateY(calc(180deg * var(--flip-direction)));
    transform: rotateY(calc(180deg * var(--flip-direction)));
} 

.card-wrap, .front{
    width: calc(var(--card-width) + 2px);
    height: calc(var(--card-height) + 2px);
}

.back{
    width: calc(var(--card-width));
    height: calc(var(--card-height));
}

.card {
    -webkit-transition: var(--duration) linear;
    -webkit-transform-style: preserve-3d;
    -ms-transition: var(--duration);

    -moz-transition: var(--duration) linear;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: var(--duration);
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: var(--duration) linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: var(--duration) linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: var(--duration) linear;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: var(--duration) linear;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: var(--duration) linear;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.front {
    -webkit-transform: rotateY(calc(-180deg * var(--flip-direction)));
    -moz-transform: rotateY(calc(-180deg * var(--flip-direction)));
    -o-transform: rotateY(calc(-180deg * var(--flip-direction)));
    -ms-transform: rotateY(calc(-180deg * var(--flip-direction)));
    transform: rotateY(calc(-180deg * var(--flip-direction)));
}