@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Card Characters';
    src: url(../fonts/CardCharacters.ttf);
}

:root {
    --board-size: 0.87;
   
    --background-color: #214f11;

    --board-height: 350px;
    --board-width: 365px;
    --card-height: 65px;
    --card-width: 46px;

   
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

body{
    /* font-family: 'Roboto Slab', serif; */

    font-family: "Hiragino Sans W6";




    background-color: var(--background-color);

}

/* h1{
    display: inline-block;
    text-align: center;

    margin: 0;
    font-size: 90px;
    color: white;
    transition: color 1s ease-in-out;  
    margin-bottom: 100px;
} */

.board {
    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--board-width);

    height: var(--board-height);

    /* background-color: black; */
    margin: auto;
    /* margin-top: 100px; */

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: var(--board-width);
    height: var(--card-height);


    /* background-color: red; */
}

.row:not(:first-child) {
    margin-top: calc(var(--card-height) / 2 * -1);
}

.row:last-child {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: var(--card-width);
    height: var(--card-height);
    /* padding: 1px; */
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;

    /* color: red; */

}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--card-width));

    width: calc(var(--card-width));

    height: calc(var(--card-height) / 3);
    /* font-size: 16px; */
    /* color: red; */
    font-weight: bold;

}

.rank{
    font-family: "Roboto Slab";

    /* font-family: "Card Characters"; */
    font-weight: bold;

    letter-spacing: -0.1em;

    font-size: 24px;
    /* line-height: 80%; */
}

.suit{

    font-size: 20px;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--card-width));
    height: calc(var(--card-height) / 3 * 2);
    font-size: 40px;
    /* color: red; */

    /* font-family: "Card Characters";
    font-weight: normal; */

}

.row:last-child .card:last-child {
    margin-left: 15px;
}


.noselect {
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}
 