@import url("flip.css");

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Card Characters';
    src: url(../fonts/CardCharacters.ttf);
}

:root {
    --board-size: 0.87;
   
    --background-color: #214f11;

    --board-height: 350px;
    --board-width: 365px;
    --card-height: 65px;
    --card-width: 46px;

   
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

body{
    /* font-family: 'Roboto Slab', serif; */

    font-family: "Hiragino Sans W6";




    background-color: var(--background-color);

}

/* h1{
    display: inline-block;
    text-align: center;

    margin: 0;
    font-size: 90px;
    color: white;
    transition: color 1s ease-in-out;  
    margin-bottom: 100px;
} */

.board {
    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--board-width);

    height: var(--board-height);

    margin: auto;


    /* background-color: black; */
    /* margin-top: 100px; */

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: var(--board-width);
    height: var(--card-height);


    /* background-color: red; */
}

.row:not(:first-child) {
    margin-top: calc(var(--card-height) / 2 * -1);
}

.row:nth-child(8){
    margin-top: 40px;
}

.card-wrap{
    position: absolute;
    opacity: 0;

    /* pointer-events: none; */
}

.zoom{
    transform: scale(1.5);
}

.front {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--card-width);
    height: var(--card-height);
    /* padding: 1px; */
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;


    opacity: 1;
}

.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(var(--card-width) - 2px);
    height: calc(var(--card-height) - 2px);
    /* padding: 1px; */
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;


    opacity: 1;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--card-width));

    height: calc(var(--card-height) / 3);
    /* font-size: 16px; */
    /* color: red; */
    font-weight: bold;

}

.rank{
    font-family: "Roboto Slab";

    /* font-family: "Card Characters"; */
    font-weight: bold;

    letter-spacing: -0.1em;

    font-size: 24px;
    /* line-height: 80%; */
}

.suit{

    font-size: 20px;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--card-width));
    height: calc(var(--card-height) / 3 * 2);
    font-size: 40px;
    /* color: red; */

    /* font-family: "Card Characters";
    font-weight: normal; */

}

/* .back .card{
    background: steelblue;
} */

.back {
    /* padding: 2px;
    background: steelblue; */

    padding: 1px;
    background-image:
      linear-gradient(to bottom,
        /* rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%), */

        salmon 0%,
        salmon 100%),
      linear-gradient(to bottom,
        white 0%,
        white 100%);
    background-clip: content-box, padding-box;
}

.cell{

    display: flex;
    width: var(--card-width);
    height: var(--card-height);
    margin-left: 2px;
    margin-right: 2px;
    background-color: #143709;
    border: 1px solid rgba(256,256,256, 0.1);
    border-radius: 4px;

    opacity: 0;
}

.stock {

    width: var(--card-width);
    height: var(--card-height);
    margin-left: 2px;
    margin-right: 2px;
    /* background-color: #143709; */
    /* border: 1px solid rgba(256,256,256, 0.1); */
    border-radius: 4px;

    /* opacity: 0; */

}

.pile {

    width: var(--card-width);
    height: var(--card-height);
    margin-left: 27px;
    margin-right: 2px;
    /* background-color: #143709; */
    /* border: 1px solid rgba(256,256,256, 0.1); */
    border-radius: 4px;

    /* opacity: 0; */

}

.hidden{
    visibility: hidden;
    /* display: none; */
}

/* .untouchable{
    pointer-events: none;
} */

@keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

.zoom {
    animation: scaling 0.25s 2 linear forwards alternate;
}

.noselect {
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}
 