@import url("flip.css");

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold-webfont.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'Card Characters';
    src: url(../fonts/CardCharacters.ttf);
}

:root {
    --board-size: 0.97;
   
    --background-color: #214f11;

    --board-width: 97vmin;

    --board-height: var(--board-width);

    --card-width: calc(var(--board-width) / 7 * 0.88);

    --card-height: calc((var(--card-width) * 3.5 / 2.5));   
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

body{
    /* font-family: 'Roboto Slab', serif; */

    font-family: "Hiragino Sans W6";

    background-color: var(--background-color);

    /* background-image: url("../images/background.jpg"); */
}

.board {
    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--board-width);

    height: var(--board-height);

    margin: auto;

    margin-top: 10px;

    /* background-color: black; */
    /* margin-top: 100px; */
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    justify-content: center; 

    width: var(--board-width);
    height: var(--card-height);

    /* background-color: red; */
}

.row:not(:first-child) {
    margin-top: calc(var(--card-height) / 2 * -1);
}

.row:nth-child(8){
    margin-top: 40px;
}

.card-wrap{
    position: absolute;
    opacity: 0;

    /* pointer-events: none; */
}

.card-wrap:hover{
    cursor: pointer;
}

.front {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--card-width);
    height: var(--card-height);
    /* padding: 1px; */
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;

    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;

    opacity: 1;
}

.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(var(--card-width) - 2px);
    height: calc(var(--card-height) - 2px);
    /* padding: 1px; */
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;

    opacity: 1;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--card-width));

    height: calc(var(--card-height) / 3);
    /* font-size: 16px; */
    /* color: red; */
    font-weight: bold;

}

.rank{
    font-family: "Roboto";

    /* font-family: "Card Characters"; */
    font-weight: bold;

    letter-spacing: -0.2em;

    font-size: 6.4vmin;
    /* line-height: 80%; */
}

.suit{

    /* justify-content: center; */
    /* align-items: flex-end; */

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5.3vmin;
}

.suit img {
    /* margin-top: calc(var(--card-width) * 0.05); */
    /* width: calc(var(--card-width) * 0.8); */

    width: calc(var(--card-height) / 3 * 0.8);
    height: calc(var(--card-height) / 3 * 0.8);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--card-width));
    height: calc(var(--card-height) / 3 * 2);
    font-size: 10.6vmin;
    /* color: red; */

}

.main img {
    margin-top: calc(var(--card-width) * 0.05);
    width: calc(var(--card-width) * 0.8);
    height: calc(var(--card-width) * 0.8);
}

.back {
    /* padding: 2px;
    background: steelblue; */

    padding: 1px;
    background-image:
      linear-gradient(to bottom,
        /* rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%), */

        salmon 0%,
        salmon 100%),
      linear-gradient(to bottom,
        white 0%,
        white 100%);
    background-clip: content-box, padding-box;
}

.cell{

    display: flex;
    width: var(--card-width);
    height: var(--card-height);
    margin-left: 2px;
    margin-right: 2px;
    background-color: #143709;
    border: 1px solid rgba(256,256,256, 0.1);
    border-radius: 4px;

    opacity: 0;
}

.stock {

    width: var(--card-width);
    height: var(--card-height);
    margin-left: 2px;
    margin-right: 2px;
    margin-left: 27px;

    /* background-color: #143709; */
    /* border: 1px solid rgba(256,256,256, 0.1); */
    border-radius: 4px;

    /* opacity: 0; */

}

.pile {

    width: var(--card-width);
    height: var(--card-height);
    /* margin-left: 27px; */
    margin-right: 2px;
    /* background-color: #143709; */
    /* border: 1px solid rgba(256,256,256, 0.1); */
    border-radius: 4px;

    /* opacity: 0; */

}

.hidden{
    visibility: hidden;
    /* display: none; */
}

/* .untouchable{
    pointer-events: none;
} */

@keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

.zoom {
    animation: scaling 0.25s 2 linear forwards alternate;
}

@media (min-width: 460px) and (min-height: 460px){

    /* :root{
        --card-width: calc(var(--card-width) * 0.7);
    } */

    .board{

        margin-top: 50px;
    }

    .card-wrap{

        margin-left: 5px;
    }

    .front{
        border: 2px solid rgba(0,0,0,0.05);

        border-radius: 10px;
    }
    
    .back{
        border: 2px solid rgba(0,0,0,0.05);

        border-radius: 10px;

        padding: 2px;
    }

    .stock {

        margin-left: 50px;
    }

    .row:nth-child(8){
        margin-top: 60px;
    }

    .cell{
        margin-left: 5px;
        margin-right: 5px;
    }

    .rank{
        font-size: 5.2vmin;
    }

    .suit{
        font-size: 4.6vmin;
    }

    .main{
        font-size: 9.1vmin;
    }

    .suit img {
        /* margin-top: calc(var(--card-width) * 0.05); */
        /* width: calc(var(--card-width) * 0.8); */
    
        width: calc(var(--card-height) / 3 * 0.70);
        height: calc(var(--card-height) / 3 * 0.70);
    }

    .main img {
        margin-top: calc(var(--card-width) * 0.00);;
        width: calc(var(--card-width) * 0.75);
        height: calc(var(--card-width) * 0.75);
    }

    
}

@media (orientation: landscape){

    .board{
        margin-top: 20px;
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
}
 